<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Cadastra_Produto</servlet-name>
        <servlet-class>Servlet.Cadastra_Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar_Usuario</servlet-name>
        <servlet-class>Servlet.Cadastrar_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastra_ADM</servlet-name>
        <servlet-class>Servlet.Cadastra_ADM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verifica_Login</servlet-name>
        <servlet-class>Servlet.Verifica_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar_Foto_Usuarios</servlet-name>
        <servlet-class>Servlet.Editar_Foto_Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar_Usuario</servlet-name>
        <servlet-class>Servlet.Editar_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar_Editar_Usuario</servlet-name>
        <servlet-class>Servlet.Mostrar_Editar_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar_Usuario</servlet-name>
        <servlet-class>Servlet.Mostrar_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar_Produto</servlet-name>
        <servlet-class>Servlet.Editar_Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar_Produto</servlet-name>
        <servlet-class>Servlet.Mostrar_Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar_Foto_Produto</servlet-name>
        <servlet-class>Servlet.Editar_Foto_Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleta_Produto</servlet-name>
        <servlet-class>Servlet.Deleta_Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adicionar_Carrinho</servlet-name>
        <servlet-class>Servlet.Adicionar_Carrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrinho_Add</servlet-name>
        <servlet-class>Servlet.Carrinho_Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleta_Carrinho</servlet-name>
        <servlet-class>Servlet.Deleta_Carrinho</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cadastra_Produto</servlet-name>
        <url-pattern>/Cadastra_Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar_Usuario</servlet-name>
        <url-pattern>/Cadastrar_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastra_ADM</servlet-name>
        <url-pattern>/Cadastra_ADM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verifica_Login</servlet-name>
        <url-pattern>/Verifica_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar_Foto_Usuarios</servlet-name>
        <url-pattern>/Editar_Foto_Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar_Usuario</servlet-name>
        <url-pattern>/Editar_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar_Editar_Usuario</servlet-name>
        <url-pattern>/Mostrar_Editar_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar_Usuario</servlet-name>
        <url-pattern>/Mostrar_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar_Produto</servlet-name>
        <url-pattern>/Editar_Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar_Produto</servlet-name>
        <url-pattern>/Mostrar_Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar_Foto_Produto</servlet-name>
        <url-pattern>/Editar_Foto_Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleta_Produto</servlet-name>
        <url-pattern>/Deleta_Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adicionar_Carrinho</servlet-name>
        <url-pattern>/Adicionar_Carrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrinho_Add</servlet-name>
        <url-pattern>/Carrinho_Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleta_Carrinho</servlet-name>
        <url-pattern>/Deleta_Carrinho</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
